<div class="container">
  <pre class="ascii">
    ██╗  ██╗ ██████╗ ██╗  ██╗
    ██║  ██║██╔═████╗██║  ██║
    ███████║██║██╔██║███████║
    ╚════██║████╔╝██║╚════██║
         ██║╚██████╔╝     ██║
         ╚═╝ ╚═════╝      ╚═╝
  </pre>
  <h1>404 - Page not found</h1>
  <p>
    This is not the page you are looking for. You can go back to the
    <a [routerLink]="['/']">home page</a> or you can try to find the page you
    are looking for with the help of the navigation bar. If you think this is a
    bug please report it to the developer. Farewell!
  </p>
</div>
