@mixin underline {
  &::after {
    content: "";
    width: 0;
    display: block;
    height: 1px;
    background-color: white;
    transition: all 0.2s;
  }

  &:hover::after {
    width: 100%;
  }
}

nav {
  background-color: black;
  border-bottom: 2px solid black;
  margin-bottom: 1em;

  ul {
    display: flex;

    padding: 0.5em;

    li {
      margin-right: 1em;
      padding: 0.5em;

      @include underline;
    }
  }
}
