<main>
  <h1>Create Post</h1>
  <fieldset>
    <legend>Cover</legend>
    <input type="file" name="" id="" />
  </fieldset>

  <fieldset>
    <legend>Title</legend>
    <input type="text" name="" id="" />
  </fieldset>

  <fieldset>
    <legend>Tags</legend>
    <span>Input tags, separated by comma</span>
    <br />
    <input type="text" name="" id="" />
  </fieldset>

  <fieldset>
    <legend>Content</legend>
    <angular-markdown-editor
      textareaId="editor1"
      [rows]="12"
      name="markdownText"
      [(ngModel)]="post.content"
    />
    <markdown class="variable-binding" [data]="post.content"></markdown>
  </fieldset>
</main>
