.col2 {
  // display: flex;
  // flex-direction: row;
  gap: 2rem;

  & > * {
    flex: 1;
  }
}

textarea {
  height: 100%;
}

.md-header {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  button {
    outline: none !important;
    background-color: black !important;
    color: white !important;
  }
}

fieldset {
  margin-bottom: 1em;
}

.btn-group {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
