<main>
  <h1 *ngIf="isEditForm">
    Edit Post #{{ post.id }} <a [routerLink]="['/posts', post.id]">Show</a>
  </h1>
  <h1 *ngIf="!isEditForm">Create Post</h1>
  <form (ngSubmit)="onSubmit()">
    <fieldset>
      <legend>Meta</legend>
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" [(ngModel)]="post.title" />
      </div>
      <div class="form-group">
        <label for="tags">Tags:</label>
        <!-- <input type="text" name="tags" id="tags" [(ngModel)]="post.tags" /> -->
        <input type="text" value="TODO: IMPLEMENT" />
      </div>
    </fieldset>
    <fieldset>
      <legend>Body</legend>
      <angular-markdown-editor
        textareaId="editor1"
        [rows]="30"
        name="body"
        hideToolbar="true"
        showPreviewPanel="false"
        [options]="editorOptions"
        [(ngModel)]="post.body"
      />
    </fieldset>
    <div class="flex btn-group">
      <button class="btn btn-primary btn-block" type="submit">
        <span *ngIf="isEditForm">Update</span>
        <span *ngIf="!isEditForm">Create</span>
      </button>
      <button
        class="btn btn-error btn-block"
        type="button"
        *ngIf="isEditForm"
        (click)="onDelete()"
      >
        <span>Delete</span>
      </button>
    </div>
  </form>
</main>
