<main>
  <h1 class="terminal-title">All Posts</h1>
  <p>
    Welcome to the <ins>Post List</ins> page. Here you can find all the posts
    that have been published on this blog.

    <ins>Click</ins> on the title of a post to read it.
  </p>
  <pre class="ascii">
    ____ ____ _____ _  _   _   ____  _
    / ___| __ |___ /| || | / | | __ )| | ___   __ _
   | |   |  _ \ |_ \| || |_| | |  _ \| |/ _ \ / _` |
   | |___| |_) ___) |__   _| | | |_) | | (_) | (_| |
    \____|____|____/   |_| |_| |____/|_|\___/ \__, |
                                              |___/
  </pre>
  <div class="post-list__wrapper terminal-timeline">
    <div *ngFor="let post of posts" class="post-list__post terminal-card">
      <header>
        <span [routerLink]="['/posts', post.id]">
          <h2>{{ post.title }}</h2>
        </span>
        <span class="post-list__date">{{
          dateFormater.format(post.createdAt)
        }}</span>
      </header>
      <div class="post-list__meta">
        This post has
        <span class="post-list__meta--highlight"
          >{{ post.comments.length }} comment(s)</span
        >
      </div>
    </div>
  </div>
</main>
