main {
  max-width: 50em;
  margin: auto;
}

h2 {
  margin: 0;
}

.terminal-card {
  text-align: center;
}

.ascii {
  font-weight: bold;
  color: var(--primary-color);
  border: none;
  padding: 0;
}
