.ascii {
  font-weight: bold;
  color: var(--primary-color);
  border: none;
  padding: 0;
  padding-bottom: 1em;
  border-bottom: 1px solid var(--primary-color);
  border-top: 1px solid var(--primary-color);
}
